{
  CIDER: {
    cider_version: "0.41.1",
    dependencies: {
      nuget: "",
      tatin: "",
    },
    dependencies_dev: {
      tatin: "",
    },
    distributionFolder: "Dist",
    init: "",
    make: "Admin.Make",
    parent: "#",
    projectSpace: "NuGet",
    project_url: "https://github.com/dyalog/nuget",
    source: "APLSource",
    tatinVars: "NuGet",
    tests: "",
    version: "0.2.2",
  },
  LINK: {
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
